// save as config.h

#define WIFI_HOST "MQTT-OLED-Energy-Monitor"
#define WIFI_SSID "wifissid"
#define WIFI_PASSWORD "wifipassword"
#define MQTT_SERVER "mqtthostname"
#define MQTT_PORT 1883
#define MQTT_USER "mqqtuser"
#define MQTT_CLIENT "MQTT-OLED-Energy-Monitor"
#define MQTT_TOPIC "MQTT-OLED-Energy-Monitor/POWER"
